<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cereal.books.board.model.dao.MainBoardDao">
	<sql id="brListSql">
		SELECT BR.BR_NO,
		       M.USER_NO,
		       M.USER_NNAME,
		       BR.BR_ISBN,
		       BR.BR_PRESENT_PIC,
		       BR.BR_TITLE,
		       BR.BR_CREATE_DATE,
		       BR.BR_MODIFY_DATE,
		       BR.BR_BOOKTYPE,
		       BR.BR_CONTENT,
		       BR.BR_VIEWCOUNT,
		       BR.BR_LIKE,
		       BR.BR_STATUS,
		       BR.BR_RATING
		FROM BOOK_REVIEW_BOARD BR
		JOIN MEMBER M ON(BR.USER_NO = M.USER_NO)		
		WHERE BR.BR_STATUS='Y'
	</sql>

	<resultMap type="ReviewBoard" id="mainResultMap"> 
		<id property="brNo" column="BR_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="userNname" column="USER_NNAME"/>
		<result property="brIsbn" column="BR_ISBN"/>
		<result property="brPresentPic" column="BR_PRESENT_PIC"/>
		<result property="brTitle" column="BR_TITLE"/>
		<result property="brCreateDate" column="BR_CREATE_DATE"/>
		<result property="brModifyDate" column="BR_MODIFY_DATE"/>
		<result property="brBookType" column="BR_BOOKTYPE"/>
		<result property="brContent" column="BR_CONTENT"/>
		<result property="brViewCount" column="BR_VIEWCOUNT"/>
		<result property="brLike" column="BR_LIKE"/>
		<result property="status" column="BR_STATUS"/>
		<result property="brRating" column="BR_RATING"/>
	</resultMap>
	
	
	<select id="selectCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM BOOK_REVIEW_BOARD
		WHERE BR_STATUS='Y'
	</select>


	<select id="selectBoardList" parameterType="map" resultMap="mainResultMap">
		<include refid="brListSql"></include>
		ORDER BY BR.BR_LIKE DESC
	</select>
	
	<select id="selectBoardListbest" parameterType="arraylist" resultMap="mainResultMap">
		
		<include refid="brListSql"></include>
		AND M.USER_NO = #{userNo} AND BR.BR_BOOKTYPE IN 
		<foreach item="book" collection="arr" index="index" open="(" separator="," close=")">
			#{book}
		</foreach>
		ORDER BY BR.BR_LIKE DESC
	</select>
</mapper>
