/* * {
  font: Verdana, Dotum, AppleGothic, sans-serif;
  font-family: "Roboto", "나눔바른고딕", "Nanum Barun Gothic", "나눔고딕",
    "NanumGothic", "Nanum Gothic", "Apple SD Gothic Neo", "돋움", dotum,
    sans-serif;
  -webkit-font-smoothing: antialiased;
} */
/* 회원정보 */
.mypage {
    width: 1000px;
    margin: auto;
    display: block;
    padding-bottom: 940px;
    }
.title { margin-top: 50px;}
.info{ float: left; width: 500px;}
.profile {
    width: 450px;
    height: 120px;
    border: darkgrey solid 1px;
    border-radius: 5px;
}

.info_btn {
    height: 30px;
    background-color: black;
    color: white;
    border-style: none;
    float: right;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    /* padding: 6.5px 12px;
    float: right;
    text-align: center; 
    width: 150px;
    background-color: #747474; 
    border: 1px solid #4f4f4f; 
    border-color: #4f4f4f; 
    color: #ffffff; 
    font-size: var(--small-size); 
    bottom: 15px; 
    margin: 10px; */
}

/* 스크랩 */
.scrap_title {
    margin-top: 131px;
}
.scrap {
    width: 450px;
    height: 330px;
    border: darkgrey solid 1px;
    border-radius: 5px;
    text-align: center;
}
.scrap_image{
    /* border: 1px solid black; */
    width: 95px;
    height: 142px;
}
.btn_img {
    width: 5%;
    vertical-align: middle;
    margin-bottom: 180px;
    display: none;
}
/* 캘린더 */
.boolcalendar{ display:inline-block; width: 50%;}
.boolcalendar > p {margin-left: 45px;}
.calendar {
    width: 450px;
    height: 620px;
    border: darkgrey solid 1px;
    border-radius: 5px;
    float: right;
    text-align: center;
    /* display: ; */
}
#calendar {
  width: 100%;
  height: 100%;
  /* border: 1px solid darkgray; */
  border-collapse: collapse;
}
#calendar td {
  width: 10%;
  /* height: 15%; */
  /* border: 1px solid darkgray; */
  vertical-align: top;
  text-align: right;
}
.calendar_img {
    width: 100%;
    height: 30px;
}
.calendar_image {
  width: 100%;
  border: 1px solid darkgray;
}

/* 북클럽 */
.bookclub{ width: 1000px; float: left;}
.club {
    width: 100%;
    height: 300px;
    border: darkgrey solid 1px;
    border-radius: 5px;
    float: left;
}
.club_image {
    width: 130px;
    height: 130px;
}
.starR{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
    background-size: auto 100%;
    width: 10px;
    height: 10px;
    display: inline-block;
    text-indent: -9999px;
    cursor: pointer;
  }
  .starR.on{background-position:0 0;}

/* 북펀딩 */
.bookfunding{ width: 1000px; float: left; margin-bottom: 50px;}
.funding {
    width: 100%;
    height: 360px;
    border: darkgrey solid 1px;
    border-radius: 5px;
    float: left;
}
.image {
    width: 130px;
    height: 195px;
}

/* 북클럽, 북펀딩 공통 */
.join_club {
    width: 50%;
    height: 100%;
    /* border: 1px black solid; */
    display: inline-block;
    margin: auto;
}
.book_info{
    display: inline-block;
    width: 25%;
    margin: 15px;
    padding-top: 25px;
    text-align: center;
    /* border: 1px solid; */
}
.my_list{
    width: 48%;
    height: 100%;
    float: right;
    display: inline-block;
    /* border: 1px black solid; */
}
.content {
    height: 230px;
    border: 1px transparent solid;
    margin: auto;
    text-align: center;
}

.list_table {
    width: 95%;
    text-align: center;
    /* border-collapse:collapse; */
    border-spacing:0;
    margin: auto;
}
.th {
    background-color: lightgray;
    border-top:1px solid black;
    border-bottom:1px solid black;

}
.content td{
    border-bottom:1px solid black;
}

/*페이지바*/
div#pageBar {
	margin-top:10px; 
	text-align:center;
  /* margin-top: 10px; */
	/* background-color:rgba(0, 188, 212, 0.3); */
  
}
.funding #pageBar {
    margin-top: 50px;
}

div#pageBar button {
    background-color: white;
    border: none;
    color: black;
    font-size: var(--small-size);
}

/* 반응형 */
@media screen and (max-width:768px) {
    body {padding: 0;}
    .mypage { width: 100%; margin:auto;}
    .title { margin-top: 20px;}
    .btn_img { display: inline;}
    .scrap_title { margin-top: 20px;}
    .info { float: none; width: 100%;}
    .profile { width: 100%;}
    .scrap { width: 100%; height: 300px;}
    .book_info { margin-top: 20px; width: 18%;}
    .small_pageBar { display: none;}
    .boolcalendar { width: 100%;}
    .boolcalendar > p { margin-left: 0px;}
    .calendar { width: 100%; height: 820px;}
    .calendar { float: none;}
    .bookclub{ width: 100%;}
    .club { width: 100%; height: 580px;}
    .join_club{ width: 100%; height: 300px; display: block;}
    .club_image { width: 120px; height: 120px;}
    .my_list{width: 100%; height: 200px;}
    .bookfunding{ width: 100%;}
    .funding { width: 100%; height: 580px;}
    .content { width: 100%; height: 210px;}
    .image { width: 95px; height: 145px;}
    .funding #pageBar { margin-top: 10px;}
}