@charset "UTF-8";

.id_serch{
    width: 30%; 
    margin: 100px auto;
    font-family: 'Source Sans Pro';
 
}

.field {
    border: 1px solid #f1f1f1;
}

.field legend{
    text-align: center;
}

.radio{
    text-align: center;
}

.radio_ck{
    margin: 20px 20px;
    font-size: 0.8em;
}


.input_check{
    margin: 10px auto;
    display: flex;
    width: 100%;
 
}
.input_span{
    margin:auto;
    text-align: center;
    width: 100%;
 
}

.ck_phone{
    width: 99%;
    text-align: center;
    background:  #f1f1f1;
    border: 1px solid #f1f1f1;
    
}

.ck_name{
    width: 100%;
    text-align: center;
    background:  #f1f1f1;
    border: 1px solid #f1f1f1;
}

.ck_text{
    width: 100%;
    margin: auto 10px;
}

.ck_number{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto 11px;
   }
   
.ck_number input{
      
    display: flex;
    margin: auto;
    width: 100%;

}

#idresult1{
	font-size: 0.9em; 
	color: green; 
    
}

#idresult2{
	font-size: 0.9em; 
	color: red; 
}




.ck_btn_div{
    display: flex;
    justify-content: center;
}


.ck_btn{
    background-color:  #222;
    color: white;
    display: inline-block;
    width: 20%;
    height: 35px;
    border-radius: 10px;
    border: 2px solid transparent;
    text-align: center;
    line-height: 18px;
}

.ck_btn:hover{
    background-color: white;
    border: 1px solid #222;
    color: #222;
}


@media screen  and (max-width: 768px){

    .id_serch{
        width: 50%;
    }

    .field legend{
        font-size: 0.9em;
    }

    .radio span{
        display: block;
        margin: 5px auto;
    }

    .input_check{
        display: block;
    
    }

    .ck_name{
        margin: auto;    
    }    
    .ck_text{
        margin: auto;
        width: 98%;
    }

    .ck_number{
        margin: auto 
       }

    .ck_btn{
        width: 50%;
    }
    
    .idresult{
	text-align: center;
	font-size: 0.7em;
}
    
}