<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 에러내역 : parent key not found -> 부모클래스에 들어갈 수 있어야 하는데 부모클래스의 범위를 넘어섰기 
   때문에 발생 SQL command not properly ended -> 콜론, AS 등 잘못 된 끝맺음 -->

<mapper namespace="com.cereal.books.board.model.dao.ClubDao">
   <!-- 반복되는 쿼리문 -->
   <sql id="clubListSql">
      SELECT
      B.BC_NO,
      M.USER_NO,
      B.BC_ORIGIN_TITLE,
      B.BC_SUB_TITLE,
      B.BC_REG_DATE,
      B.BC_DETAIL_DATE,
      B.BC_START_DATE,
      B.BC_DL_DATE,
      B.BC_VIEW_COUNT,
      B.BC_CONTENT,
      B.BC_ORIGIN_IMAGE,
      B.BC_MODIFY_IMAGE,
      B.BC_STATUS,
      B.BC_AGREEMENT
      FROM
      BOOK_CLUB_BOARD B
      JOIN MEMBER M ON
      (B.USER_NO = M.USER_NO)
      WHERE
      B.BC_STATUS='P'
   </sql>

   <!-- 북 클럽 메인페이지 -->
   <resultMap type="ClubBoard" id="clubResultMap">
      <id property="bcNo" column="BC_NO" />
      <result property="userNo" column="USER_NO" />
      <result property="userId" column="USER_ID" />
      <result property="bcOriginTitle" column="BC_ORIGIN_TITLE" />
      <result property="bcSubTitle" column="BC_SUB_TITLE" />
      <result property="bcPrice" column="BC_PRICE" />
      <result property="bcRegDate" column="BC_REG_DATE" />
      <result property="bcDetailDate" column="BC_DETAIL_DATE" />
      <result property="bcStartDate" column="BC_START_DATE" />
      <result property="bcDeadLineDate" column="BC_DL_DATE" />
      <result property="bcRemainDate" column="BC_REMAIN_DATE" />
      <result property="bcViewCount" column="BC_VIEW_COUNT" />
      <result property="bcContent" column="BC_CONTENT" />
      <result property="bcOriginImage" column="BC_ORIGIN_IMAGE" />
      <result property="bcModifyImage" column="BC_MODIFY_IMAGE" />
      <result property="bcStatus" column="BC_STATUS" />
      <result property="bcAgreement" column="BC_AGREEMENT" />
   </resultMap>

   <!-- 북 클럽 상세페이지 / 댓글 수 -->
   <resultMap type="ClubBoard" id="clubDetailResultMap">
      <id property="bcNo" column="BC_NO" />
      <result property="userNo" column="USER_NO" />
      <result property="userId" column="USER_ID" />
      <result property="bcOriginTitle" column="BC_ORIGIN_TITLE" />
      <result property="bcSubTitle" column="BC_SUB_TITLE" />
      <result property="bcPrice" column="BC_PRICE" />
      <result property="bcRegDate" column="BC_REG_DATE" />
      <result property="bcDetailDate" column="BC_DETAIL_DATE" />
      <result property="bcStartDate" column="BC_START_DATE" />
      <result property="bcDeadLineDate" column="BC_DL_DATE" />
      <result property="bcRemainDate" column="BC_REMAIN_DATE" />
      <result property="bcViewCount" column="BC_VIEW_COUNT" />
      <result property="bcContent" column="BC_CONTENT" />
      <result property="bcCommentCount" column="BC_COM_COUNT" />
      <result property="bcOriginImage" column="BC_ORIGIN_IMAGE" />
      <result property="bcModifyImage" column="BC_MODIFY_IMAGE" />
      <result property="bcStatus" column="BC_STATUS" />
      <result property="bcAgreement" column="BC_AGREEMENT" />
      <collection property="exps" columnPrefix="E_" javaType="java.util.ArrayList" resultMap="expResultMap" />
   </resultMap>

   <!-- 후기 맵 -->
   <resultMap type="Exp" id="expResultMap">
      <id property="expNo" column="EXP_NO" />
      <result property="userNo" column="USER_NO" />
      <result property="userName" column="USER_NAME" />
      <result property="expTitle" column="EXP_TITLE" />
      <result property="expViewCount" column="EXP_VIEWCOUNT" />
      <result property="expContent" column="EXP_CONTENT" />
      <result property="expRegDate" column="EXP_REG_DATE" />
      <result property="expStatus" column="EXP_STATUS" />
      <result property="bcNo" column="BC_NO" />
   </resultMap>

   <resultMap type="Member" id="memberResultSet">
      <id property="userNo" column="USER_NO" />
      <result property="userId" column="USER_ID" />
      <result property="userPwd" column="USER_PWD" />
      <result property="name" column="USER_NAME" />
      <result property="userNname" column="USER_NNAME" />
      <result property="userRole" column="USER_ROLE" />
      <result property="userPhone" column="USER_PHONE" />
      <result property="userEmail" column="USER_EMAIL" />
      <result property="userAddress" column="USER_ADDRESS" />
      <result property="userGenre" column="USER_GENRE" />
      <result property="userAgreement" column="USER_AGREEMENT" />
      <result property="userEnrollDate" column="USER_ENROLL_DATE" />
      <result property="userModifyDate" column="USER_MODIFY_DATE" />
      <result property="status" column="STATUS" />
   </resultMap>

   <!-- 북 클럽 상세페이지 조회 / 북 클럽 게시판 번호로 조회 -->
   <select id="selectClubDetail" parameterType="_int" resultMap="clubDetailResultMap">
      SELECT
      B.BC_NO,
      M.USER_NO,
      B.BC_ORIGIN_TITLE,
      B.BC_SUB_TITLE,
      B.BC_PRICE,
      B.BC_REG_DATE,
      B.BC_DETAIL_DATE,
      B.BC_START_DATE,
      B.BC_DL_DATE,
      B.BC_REMAIN_DATE,
      B.BC_VIEW_COUNT,
      B.BC_CONTENT,
      B.BC_MODIFY_IMAGE,
      B.BC_STATUS,
      B.BC_AGREEMENT,
      E.EXP_NO AS E_EXP_NO,
      E.EXP_TITLE AS E_EXP_TITLE,
      E.USER_NAME AS E_USER_NAME,
      E.EXP_REG_DATE AS E_EXP_REG_DATE,
      E.EXP_VIEWCOUNT AS E_EXP_VIEWCOUNT,
      E.EXP_CONTENT AS E_EXP_CONTENT
      FROM BOOK_CLUB_BOARD B
      JOIN MEMBER M ON (B.USER_NO= M.USER_NO)
      JOIN EXP E ON (E.USER_NO = B.USER_NO)
      WHERE B.BC_STATUS='P' AND B.BC_NO=#{bcNo}
   </select>

   <!-- 메인페이지 클럽 게시판 전체 조회 -->
   <select id="selectClubList" parameterType="map" resultMap="clubResultMap">
      <include refid="clubListSql"></include>
      ORDER BY B.BC_NO DESC
   </select>

   <!-- 진행중(모집 마감 된) 게시판 조회 -->
   <select id="selectDlClubList" parameterType="map" resultMap="clubResultMap">
      SELECT
      B.BC_NO,
      M.USER_NO,
      B.BC_ORIGIN_TITLE,
      B.BC_SUB_TITLE,
      B.BC_REG_DATE,
      B.BC_VIEW_COUNT,
      B.BC_ORIGIN_IMAGE,
      B.BC_MODIFY_IMAGE
      FROM
      BOOK_CLUB_BOARD B
      JOIN MEMBER M ON (B.USER_NO = M.USER_NO)
      WHERE
      B.BC_STATUS='Q'
   </select>

   <!-- 모집 진행중인 게시판 총 개수 -->
   <select id="selectCount" parameterType="map" resultType="_int">
      SELECT
      COUNT(*)
      FROM BOOK_CLUB_BOARD
      WHERE BC_STATUS = 'P'
   </select>

   <!-- 북 클럽 게시판 추가 -->
   <insert id="insertClub" parameterType="map"
      useGeneratedKeys="true" keyProperty="bcNo" keyColumn="BC_NO">
      INSERT INTO
      BOOK_CLUB_BOARD
      VALUES(
      SEQ_BC_NO.NEXTVAL,
      #{userNo},
      #{userId},
      #{bcOriginTitle},
      #{bcSubTitle},
      #{bcPrice},
      TO_DATE(#{bcRegDate},
      'yy-mm-dd'),
      #{bcDetailDate},
      TO_DATE(#{bcStartDate}, 'yy-mm-dd'),
      TO_DATE(#{bcDeadLineDate}, 'yy-mm-dd'),
      DEFAULT,
      DEFAULT,
      #{bcContent},
      DEFAULT,
      #{bcOriginImage},
      #{bcModifyImage},
      'P',
      'Y'
      )
   </insert>
   
   <!-- 후기 추가 -->
   <insert id="insertExp" parameterType="map"
      useGeneratedKeys="true" keyProperty="expNo" keyColumn="EXP_NO">
      INSERT INTO
      EXP
      VALUES(
      SEQ_EXP_NO.NEXTVAL,
      #{userNo},
      #{userName},
      #{expTitle},
      DEFAULT,
      #{expContent},
      TO_DATE(SYSDATE, 'yy-mm-dd'),
      'Y',
      #{bcNo}
      )
   </insert>
   
   <!-- 후기 게시글 총 개수 -->
   <select id="selectExpCount" parameterType="map" resultType="_int">
		SELECT
		COUNT(E.EXP_NO)
		FROM BOOK_CLUB_BOARD B
		JOIN MEMBER M ON (B.USER_NO = M.USER_NO)
		JOIN EXP E ON (E.USER_NO = B.USER_NO)
		WHERE B.BC_STATUS='P' AND B.BC_NO=${bcNo}
   </select>


   <!-- 클럽 모집 마감 일정 -->
   <update id="saveRemainDate" parameterType="ClubBoard">
      UPDATE BOOK_CLUB_BOARD
      SET
      BC_REMAIN_DATE = TRUNC(BC_START_DATE - SYSDATE)
   </update>

   <!-- 클럽 시작일정과 현재 날짜가 동일해지거나 음수가 되면 진행중(모집 마감) -> index(Q) -->
   <update id="noneRemainDate" parameterType="ClubBoard">
      UPDATE BOOK_CLUB_BOARD
      SET BC_STATUS = 'Q'
      WHERE BC_STATUS = 'P' AND BC_REMAIN_DATE &lt; 0
   </update>
</mapper>