<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cereal.books.board.model.dao.FundDao">

	<sql id="fundListSql">
		SELECT B.BF_NO,
			   B.USER_NO,
			   B.BF_TITLE,
			   B.BF_PRICE,
			   B.BF_ENROLL_DATE,
			   B.BF_END_DATE,
			   B.BF_MODIFY_DATE,
			   B.BF_REMAIN_DATE,
			   B.BF_TARGET_PRICE,
			   B.BF_REACH_PRICE,
			   B.BF_ATTAIN_RATE,
			   B.BF_VIEW_COUNT,
			   B.BF_BUY_COUNT,
			   B.BF_STATUS,
			   B.BF_AGREEMENT,
			   B.BF_LIKE,
			   B.BF_CONTENT,
			   B.BF_ORI_IMGNAME,
			   B.BF_RE_IMGNAME,
			   B.BF_ADMIN_COMMENT
		FROM BOOK_FUNDING_BOARD B
		JOIN MEMBER M ON(B.USER_NO = M.USER_NO)
		WHERE B.BF_STATUS='P'
	</sql>
	
	<resultMap type="FundBoard" id="fundResultMap">
		<id property="bfNo" column="BF_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="bfTitle" column="BF_TITLE"/>
		<result property="bfPrice" column="BF_PRICE"/>
		<result property="bfEnrollDate" column="BF_ENROLL_DATE"/>
		<result property="bfEndDate" column="BF_END_DATE"/>
		<result property="bfModifyDate" column="BF_MODIFY_DATE"/>
		<result property="bfRemainDate" column="BF_REMAIN_DATE"/>
		<result property="bfTargetPrice" column="BF_TARGET_PRICE"/>
		<result property="bfReachPrice" column="BF_REACH_PRICE"/>
		<result property="bfAttainRate" column="BF_ATTAIN_RATE"/>
		<result property="bfViewCount" column="BF_VIEW_COUNT"/>
		<result property="bfBuycount" column="BF_BUY_COUNT"/>
		<result property="bfStatus" column="BF_STATUS"/>
		<result property="bfAgreement" column="BF_AGREEMENT"/>
		<result property="bfLike" column="BF_LIKE"/>
		<result property="bfContent" column="BF_CONTENT"/>
		<result property="bfOriImgName" column="BF_ORI_IMGNAME"/>
		<result property="bfReImgName" column="BF_RE_IMGNAME"/>
		<result property="bfAdminComment" column="BF_ADMIN_COMMENT"/>
	
	</resultMap>

	<!-- list에서 사용 : list불러오고 전체 보드 수 구해서 페이징처리까지 -->
	<select id="selectBoardList" parameterType="map" resultMap="fundResultMap">
		<include refid="fundListSql"></include>
		ORDER BY B.BF_NO DESC
	</select>
	<select id="selectCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM BOOK_FUNDING_BOARD B
		WHERE B.BF_STATUS='P'
	</select>
	
	<!-- list에서 사용 : remaindate 구하고 마감된 항목 status 변경 -->
	<update id="saveRemainDate" parameterType="FundBoard">
		UPDATE BOOK_FUNDING_BOARD
		SET 
			BF_ATTAIN_RATE = CEIL((BF_REACH_PRICE/BF_TARGET_PRICE)*100),
			BF_REMAIN_DATE = TRUNC(BF_END_DATE - SYSDATE)
	</update>
 	<update id="changeStatus" parameterType="FundBoard">
		UPDATE BOOK_FUNDING_BOARD
		SET 
			BF_STATUS = 'Q'
		WHERE 
			BF_REMAIN_DATE &lt; 0
	</update>
	
	<!-- write에서 사용 : fund write 기능 -->
	<insert id="insertBoard" parameterType="map"
		 useGeneratedKeys="true" keyProperty="bfNo" keyColumn="BF_NO">
  		INSERT INTO BOOK_FUNDING_BOARD 
  		VALUES(
  			SEQ_BF_NO.NEXTVAL,		 
		 	#{userNo},
		 	#{bfTitle},
		 	#{bfPrice},
		 	#{bfEnrollDate},
		 	#{bfEndDate},
		 	DEFAULT,
		 	99999,
		 	#{bfTargetPrice},
		 	0,
		 	0,
		 	DEFAULT,
		 	DEFAULT,
		 	DEFAULT,
		 	'Y',
		 	DEFAULT,
		 	#{bfContent},
		 	#{bfOriImgName},
		 	#{bfReImgName},
		 	NULL
		)
	</insert>
	
</mapper>












