<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cereal.books.board.model.dao.FundDao">

	<sql id="fundListSql">
		SELECT B.BF_NO,
			   B.USER_NO,
			   B.BF_TITLE,
			   B.BF_PRICE,
			   B.BF_ENROLL_DATE,
			   B.BF_END_DATE,
			   B.BF_MODIFY_DATE,
			   B.BF_REMAIN_DATE,
			   B.BF_TARGET_PRICE,
			   B.BF_REACH_PRICE,
			   B.BF_ATTAIN_RATE,
			   B.BF_VIEW_COUNT,
			   B.BF_BUY_COUNT,
			   B.BF_STATUS,
			   B.BF_AGREEMENT,
			   B.BF_LIKE,
			   B.BF_CONTENT,
			   B.BF_ORI_IMGNAME,
			   B.BF_RE_IMGNAME,
			   B.BF_ADMIN_COMMENT
		FROM BOOK_FUNDING_BOARD B
		JOIN MEMBER M ON(B.USER_NO = M.USER_NO)
		WHERE B.BF_STATUS='P'
	</sql>
		
	<!-- 기본 펀드 조회(관리자, 마이페이지) -->
	<sql id="selectfundSql">
		SELECT BF_NO,
			   USER_NO,
			   BF_TITLE,
			   BF_PRICE,
			   BF_ENROLL_DATE,
			   BF_END_DATE,
			   BF_MODIFY_DATE,
			   BF_REMAIN_DATE,
			   BF_TARGET_PRICE,
			   BF_REACH_PRICE,
			   BF_ATTAIN_RATE,
			   BF_VIEW_COUNT,
			   BF_BUY_COUNT,
			   BF_STATUS,
			   BF_AGREEMENT,
			   BF_LIKE,
			   BF_CONTENT,
			   BF_ORI_IMGNAME,
			   BF_RE_IMGNAME,
			   BF_ADMIN_COMMENT
		FROM BOOK_FUNDING_BOARD
	</sql>
		
	<sql id="payListSql">
		SELECT PAY_NO,
			   USER_NO,
			   PAY_ENROLL_DATE,
			   PAY_PROGRESS,
			   PAY_PRICE,
			   PAY_STATUS,
			   PAY_ITEM,
			   BC_NO,
			   BF_NO
		FROM PAYMENT
	</sql>
	
 	<resultMap type="FundBoard" id="fundResultMap">
		<id property="bfNo" column="BF_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="bfTitle" column="BF_TITLE"/>
		<result property="bfPrice" column="BF_PRICE"/>
		<result property="bfEnrollDate" column="BF_ENROLL_DATE"/>
		<result property="bfEndDate" column="BF_END_DATE"/>
		<result property="bfModifyDate" column="BF_MODIFY_DATE"/>
		<result property="bfRemainDate" column="BF_REMAIN_DATE"/>
		<result property="bfTargetPrice" column="BF_TARGET_PRICE"/>
		<result property="bfReachPrice" column="BF_REACH_PRICE"/>
		<result property="bfAttainRate" column="BF_ATTAIN_RATE"/>
		<result property="bfViewCount" column="BF_VIEW_COUNT"/>
		<result property="bfBuycount" column="BF_BUY_COUNT"/>
		<result property="bfStatus" column="BF_STATUS"/>
		<result property="bfAgreement" column="BF_AGREEMENT"/>
		<result property="bfLike" column="BF_LIKE"/>
		<result property="bfContent" column="BF_CONTENT"/>
		<result property="bfOriImgName" column="BF_ORI_IMGNAME"/>
		<result property="bfReImgName" column="BF_RE_IMGNAME"/>
		<result property="bfAdminComment" column="BF_ADMIN_COMMENT"/>
	</resultMap>
	
	<resultMap type="Payment" id="paymentResultMap">
		<id property="payNo" column="PAY_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="payEnrollDate" column="PAY_ENROLL_DATE"/>
		<result property="payProgress" column="PAY_PROGRESS"/>
		<result property="payPrice" column="PAY_PRICE"/>
		<result property="payStatus" column="PAY_STATUS"/>
		<result property="payItem" column="PAY_ITEM"/>
		<result property="bcNo" column="BC_NO"/>
		<result property="bfNo" column="BF_NO"/>
		<result property="payTitle" column="BF_TITLE"/>
		<result property="payTitle" column="BC_ORIGIN_TITLE"/>
	</resultMap>
	
	<resultMap type="Cart" id="cartResultMap">
		<id property="cartNo" column="CART_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="cartTitle" column="CART_TITLE"/>
		<result property="cartAmount" column="CART_AMOUNT"/>
		<result property="cartPrice" column="CART_PRICE"/>
		<result property="cartStatus" column="CART_STATUS"/>
		<result property="cartItem" column="CART_ITEM"/>
		<result property="bcNo" column="BC_NO"/>
		<result property="bfNo" column="BF_NO"/>
	</resultMap>

	<!-- list에서 사용 : list불러오고 전체 보드 수 구해서 페이징처리까지 -->
	<select id="selectBoardList" parameterType="map" resultMap="fundResultMap">
		<include refid="fundListSql"></include>
		ORDER BY B.BF_NO DESC
	</select>
	<select id="selectCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM BOOK_FUNDING_BOARD B
		WHERE B.BF_STATUS='P'
	</select>
	
	<!-- list에서 사용 : remaindate 구하고 마감된 항목 status 변경 -->
	<update id="saveRemainDate" parameterType="FundBoard">
		UPDATE BOOK_FUNDING_BOARD
		SET 
			BF_ATTAIN_RATE = CEIL((BF_REACH_PRICE/BF_TARGET_PRICE)*100),
			BF_REMAIN_DATE = TRUNC(BF_END_DATE - SYSDATE)
	</update>
 	<update id="changeStatus" parameterType="FundBoard">
		UPDATE BOOK_FUNDING_BOARD
		SET 
			BF_STATUS = 'Q'
		WHERE 
			BF_REMAIN_DATE &lt; 0
	</update>
	
	<!-- write에서 사용 : fund write 기능 -->
	<insert id="insertBoard" parameterType="map"
		 useGeneratedKeys="true" keyProperty="bfNo" keyColumn="BF_NO">
  		INSERT INTO BOOK_FUNDING_BOARD 
  		VALUES(
  			SEQ_BF_NO.NEXTVAL,		 
		 	#{userNo},
		 	#{bfTitle},
		 	#{bfPrice},
		 	#{bfEnrollDate},
		 	#{bfEndDate},
		 	DEFAULT,
		 	NULL,
		 	#{bfTargetPrice},
		 	0,
		 	0,
		 	DEFAULT,
		 	DEFAULT,
		 	DEFAULT,
		 	'Y',
		 	DEFAULT,
		 	#{bfContent},
		 	#{bfOriImgName},
		 	#{bfReImgName},
		 	NULL
		)
	</insert>
	
	
	<!-- 관리자 -->
	<!-- 관리자펀드 조회 -->
	<select id="adminFundList" parameterType="map" resultMap="fundResultMap">
		<include refid="selectfundSql"></include>
		<if test="status != null">
	  		WHERE 
	  			BF_STATUS =#{status}
		</if>
  		ORDER BY BF_NO DESC
  	</select>
  	<select id="selectFundStatusCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM BOOK_FUNDING_BOARD
		<if test="status != null">
	  		WHERE 
	  			BF_STATUS =#{status}
		</if>
	</select>
	<!-- 펀드 상태 변경 -->
	<update id="adminUpdateFundStatus" parameterType="map">
		UPDATE BOOK_FUNDING_BOARD
		SET
            BF_STATUS=#{status}
        WHERE BF_NO IN
        <foreach item="bfNo" index="i" collection="bfNo" open="(" separator="," close=")">
        	#{bfNo}
        </foreach>
	</update>
	
	<!-- 마이페이지 -->
	<!-- 참여한 펀드 조회 -->
	<select id="myFundList" parameterType="map" resultMap="fundResultMap">
		SELECT F.BF_NO, 
			F.BF_TITLE, 
			F.BF_RE_IMGNAME
		FROM BOOK_FUNDING_BOARD F 
		JOIN PAYMENT P ON(F.BF_NO = P.BF_NO)
		WHERE P.USER_NO = #{userNo} AND P.PAY_PROGRESS = 'Y' AND P.PAY_ITEM = 'F' AND P.PAY_STATUS = 'N'
  		ORDER BY BF_NO DESC
  	</select>
  	<select id="selectMyFundCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM BOOK_FUNDING_BOARD F 
		JOIN PAYMENT P ON(F.BF_NO = P.BF_NO)
		WHERE P.USER_NO = #{userNo} AND P.PAY_PROGRESS = 'Y' AND P.PAY_ITEM = 'F' AND P.PAY_STATUS = 'N'
	</select>
	<!-- 신청한 펀드 조회 -->
	<select id="myAplctFundList" parameterType="map" resultMap="fundResultMap">
		SELECT BF_NO, BF_TITLE, BF_RE_IMGNAME, BF_STATUS
		FROM BOOK_FUNDING_BOARD
		WHERE USER_NO = #{userNo}
  		ORDER BY BF_NO DESC
  	</select>
  	<select id="selectMyAplcFundCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM BOOK_FUNDING_BOARD
		WHERE USER_NO = #{userNo}
	</select>
	
	<!-- viewDetail 해당 번호 찾는 메소드 -->
	<select id="selectBoardDetail" parameterType="_int" resultMap="fundResultMap">
		SELECT B.BF_NO,
			   B.USER_NO,
			   B.BF_TITLE,
			   B.BF_PRICE,
			   B.BF_ENROLL_DATE,
			   B.BF_END_DATE,
			   B.BF_MODIFY_DATE,
			   B.BF_REMAIN_DATE,
			   B.BF_TARGET_PRICE,
			   B.BF_REACH_PRICE,
			   B.BF_ATTAIN_RATE,
			   B.BF_VIEW_COUNT,
			   B.BF_BUY_COUNT,
			   B.BF_STATUS,
			   B.BF_AGREEMENT,
			   B.BF_LIKE,
			   B.BF_CONTENT,
			   B.BF_ORI_IMGNAME,
			   B.BF_RE_IMGNAME,
			   B.BF_ADMIN_COMMENT
		FROM BOOK_FUNDING_BOARD B
		JOIN MEMBER M ON(B.USER_NO = M.USER_NO)
		WHERE B.BF_NO=#{bfNo}
	</select>
	
	<!-- 조회수 증가(반복조회 방지) -->
	<update id="increateViewcnt" parameterType="FundBoard">
		UPDATE BOOK_FUNDING_BOARD
		SET 
			BF_VIEW_COUNT = (BF_VIEW_COUNT + 1)
		WHERE 
			BF_NO = #{bfNo}
	</update>
	
	<!-- 검색을 통한 리스트 조회, 페이징 처리o -->
	<select id="getBoardCount_Title" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM BOOK_FUNDING_BOARD B
		WHERE B.BF_STATUS='P'
		AND B.BF_TITLE LIKE '%'||#{keyword}||'%'
	</select>
	<select id="getSearchList_Title" parameterType="map" resultMap="fundResultMap">
		<include refid="fundListSql"></include>
		AND B.BF_TITLE LIKE '%'||#{keyword}||'%'
		ORDER BY B.BF_TITLE DESC
	</select>
	<select id="getBoardCount_Content" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM BOOK_FUNDING_BOARD B
		WHERE B.BF_STATUS='P'
		AND B.BF_CONTENT LIKE '%'||#{keyword}||'%'
	</select>
	<select id="getSearchList_Content" parameterType="map" resultMap="fundResultMap">
		<include refid="fundListSql"></include>
		AND B.BF_CONTENT LIKE '%'||#{keyword}||'%'
		ORDER BY B.BF_CONTENT DESC
	</select>
	
	
	<!-- 인기프로젝트 조회(조회수순) -->
	<select id="getBoardList_viewCount" parameterType="map" resultMap="fundResultMap">
		<include refid="fundListSql"></include>
		ORDER BY B.BF_VIEW_COUNT DESC
	</select>
	<select id="getBoardList_remainDate" parameterType="map" resultMap="fundResultMap">
		<include refid="fundListSql"></include>
		ORDER BY B.BF_REMAIN_DATE
	</select>
	<!-- 마감된프로젝트 조회(마감항목, 최근마감날짜순) -->
	<select id="getBoardCount_endDate" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM BOOK_FUNDING_BOARD B
		WHERE B.BF_STATUS='Q'
	</select>
	<select id="getBoardList_endDate" parameterType="map" resultMap="fundResultMap">
		SELECT B.BF_NO,
			   B.USER_NO,
			   B.BF_TITLE,
			   B.BF_PRICE,
			   B.BF_ENROLL_DATE,
			   B.BF_END_DATE,
			   B.BF_MODIFY_DATE,
			   B.BF_REMAIN_DATE,
			   B.BF_TARGET_PRICE,
			   B.BF_REACH_PRICE,
			   B.BF_ATTAIN_RATE,
			   B.BF_VIEW_COUNT,
			   B.BF_BUY_COUNT,
			   B.BF_STATUS,
			   B.BF_AGREEMENT,
			   B.BF_LIKE,
			   B.BF_CONTENT,
			   B.BF_ORI_IMGNAME,
			   B.BF_RE_IMGNAME,
			   B.BF_ADMIN_COMMENT
		FROM BOOK_FUNDING_BOARD B
		JOIN MEMBER M ON(B.USER_NO = M.USER_NO)
		WHERE B.BF_STATUS='Q'
		ORDER BY B.BF_REMAIN_DATE DESC
	</select>

	<!-- 펀딩 프로젝트 관리자 상세조회 페이지 코멘트 입력, 승인&거절 보내기 -->
 	<update id="updateAdminCheck" parameterType="FundBoard">
		UPDATE BOOK_FUNDING_BOARD
		SET 
			BF_STATUS = #{bfStatus},
			BF_ADMIN_COMMENT = #{bfAdminComment}
		WHERE 
			BF_NO = #{bfNo}
	</update>
	
	<!-- 펀딩 프로젝트 일반회원 상세조회 페이지 수정하기 내에서 새롭게 대표이미지 파일 등록되면 기존파일 삭제 -->
	<update id="updateBoard" parameterType="FundBoard">
		UPDATE BOOK_FUNDING_BOARD
		SET
			BF_TITLE = #{bfTitle},
			BF_ENROLL_DATE = #{bfEnrollDate},
			BF_END_DATE = #{bfEndDate},
			BF_PRICE = #{bfPrice},
			BF_TARGET_PRICE = #{bfTargetPrice},
			BF_CONTENT = #{bfContent},
			<if test="bfOriImgName != null">
				BF_ORI_IMGNAME=#{bfOriImgName},
			</if>
			<if test="bfReImgName != null">
				BF_RE_IMGNAME=#{bfReImgName},
			</if>
			BF_MODIFY_DATE = SYSDATE,
			BF_STATUS='N'
		WHERE
			BF_NO = #{bfNo}	
	</update>
		
	<!-- write에서 사용 : fund write 기능 -->
	<insert id="insertPayment" parameterType="map"
		 useGeneratedKeys="true" keyProperty="payNo" keyColumn="PAY_NO">
  		INSERT INTO PAYMENT
  		VALUES(
  			SEQ_PAY_NO.NEXTVAL,		 
		 	#{userNo},
		 	SYSDATE,
		 	'Y',
		 	#{payPrice},
		 	DEFAULT,
		 	'F',
		 	NULL,
		 	#{bfNo}
		)
	</insert>	
	
	<!-- payment에서 결제 성공 후 결제내역 db에 저장하고 fundboard에 구입내역 추가 -->
	<update id="plusReachPrice" parameterType="FundBoard">
		UPDATE BOOK_FUNDING_BOARD
		SET 
			BF_REACH_PRICE = BF_REACH_PRICE + #{bfPrice},
			BF_BUY_COUNT = BF_BUY_COUNT + 1
		WHERE
			BF_NO = #{bfNo}
	</update>
	
	<!-- 메인페이지 북펀딩, 북클럽 주문조회 -->
	<select id="getbforderList" parameterType="map" resultMap="paymentResultMap">
		SELECT P.PAY_NO,
			   P.USER_NO,
			   P.PAY_ENROLL_DATE,
			   P.PAY_PROGRESS,
			   P.PAY_PRICE,
			   P.PAY_STATUS,
			   P.PAY_ITEM,
			   P.BC_NO,
			   P.BF_NO,
			   B.BF_TITLE
		FROM PAYMENT P
        JOIN BOOK_FUNDING_BOARD B ON(B.BF_NO = P.BF_NO)
        WHERE P.PAY_ITEM = 'F'
		ORDER BY P.PAY_ENROLL_DATE DESC
	</select>
	<select id="getbcorderList" parameterType="map" resultMap="paymentResultMap">
		SELECT P.PAY_NO,
			   P.USER_NO,
			   P.PAY_ENROLL_DATE,
			   P.PAY_PROGRESS,
			   P.PAY_PRICE,
			   P.PAY_STATUS,
			   P.PAY_ITEM,
			   P.BC_NO,
			   P.BF_NO,
			   C.BC_ORIGIN_TITLE
		FROM PAYMENT P
        JOIN BOOK_CLUB_BOARD C ON(C.BC_NO = P.BC_NO)
        WHERE P.PAY_ITEM = 'C'
		ORDER BY P.PAY_ENROLL_DATE DESC
	</select>	
	
	<!-- 상세페이지에서 장바구니 클릭하면 장바구니 테이블에 저장 -->
<!-- 	<insert id="bfcartSave" parameterType="map"
		 useGeneratedKeys="true" keyProperty="cartNo" keyColumn="CART_NO">
  		INSERT INTO CART
  		VALUES(
  			SEQ_CART_NO.NEXTVAL,		 
		 	#{userNo},
		 	#{cartTitle},
		 	1,
		 	#{cartPrice},
		 	DEFAULT,
		 	'F',
		 	NULL,
		 	#{bfNo}
		)
	</insert> -->	
	
	<!-- 메인페이지 북펀딩, 북클럽 장바구니 -->
	<select id="getbfcartList" parameterType="map" resultMap="cartResultMap">
		SELECT CART_NO,
			   USER_NO,
			   CART_TITLE,
			   CART_AMOUNT,
			   CART_PRICE,
			   CART_STATUS,
			   CART_ITEM,
			   BC_NO,
			   BF_NO
		FROM CART
        WHERE CART_ITEM = 'F'
		ORDER BY CART_NO DESC
	</select>
	<select id="getbccartList" parameterType="map" resultMap="cartResultMap">
		SELECT CART_NO,
			   USER_NO,
			   CART_TITLE,
			   CART_AMOUNT,
			   CART_PRICE,
			   CART_STATUS,
			   CART_ITEM,
			   BC_NO,
			   BF_NO
		FROM CART
        WHERE CART_ITEM = 'C'
		ORDER BY CART_NO DESC
	</select>
	
	
</mapper>












