<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cereal.books.board.model.dao.ReviewDao">
	<sql id="brListSql">
		SELECT BR.BR_NO,
		       M.USER_NO,
		       M.USER_NNAME,
		       BR.BR_ISBN,
		       BR.BR_PRESENT_PIC,
		       BR.BR_TITLE,
		       BR.BR_CREATE_DATE,
		       BR.BR_MODIFY_DATE,
		       BR.BR_BOOKTYPE,
		       BR.BR_CONTENT,
		       BR.BR_VIEWCOUNT,
		       BR.BR_LIKE,
		       BR.BR_STATUS,
		       BR.BR_RATING
		FROM BOOK_REVIEW_BOARD BR
		JOIN MEMBER M ON(BR.USER_NO = M.USER_NO)		
		WHERE BR.BR_STATUS='Y'
	</sql>

	<resultMap type="ReviewBoard" id="brResultMap"> <!-- type vo자바클래스 변수 이름,, resultMap 쓰는 이유는 컬럼과 vo이름이 다를때 -->
		<id property="brNo" column="BR_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="userNname" column="USER_NNAME"/>
		<result property="brIsbn" column="BR_ISBN"/>
		<result property="brPresentPic" column="BR_PRESENT_PIC"/>
		<result property="brTitle" column="BR_TITLE"/>
		<result property="brCreateDate" column="BR_CREATE_DATE"/>
		<result property="brModifyDate" column="BR_MODIFY_DATE"/>
		<result property="brBookType" column="BR_BOOKTYPE"/>
		<result property="brContent" column="BR_CONTENT"/>
		<result property="brViewCount" column="BR_VIEWCOUNT"/>
		<result property="brLike" column="BR_LIKE"/>
		<result property="status" column="BR_STATUS"/>
		<result property="brRating" column="BR_RATING"/>
	</resultMap>
 	
 	<resultMap type="ReviewBoard" id="brDetailResultMap"> <!-- type vo자바클래스 변수 이름,, resultMap 쓰는 이유는 컬럼과 vo이름이 다를때 -->
		<id property="brNo" column="BR_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="userNname" column="USER_NNAME"/>
		<result property="brIsbn" column="BR_ISBN"/>
		<result property="brTitle" column="BR_TITLE"/>
		<result property="brModifyDate" column="BR_MODIFY_DATE"/>
		<result property="brBookType" column="BR_BOOKTYPE"/>
		<result property="brContent" column="BR_CONTENT"/>
		<!--<result property="brViewCount" column="BR_VIEWCOUNT"/>
	  	<result property="brLike" column="BR_LIKE"/>
		<result property="status" column="BR_STATUS"/>-->
		<result property="brRating" column="BR_RATING"/>
	</resultMap>

	<insert id="insertReviewBoard" parameterType="map"
		useGeneratedKeys="true" keyProperty="brNo" keyColumn="BR_NO">
  		
	  	INSERT INTO BOOK_REVIEW_BOARD
	  		VALUES(
	  			SEQ_BR_NO.NEXTVAL,
	  			#{userNo},
	  			#{brIsbn},
	  			DEFAULT,
	  			#{brTitle},
	  			DEFAULT,
	  			DEFAULT,
	  			#{brBookType},
	  			#{brContent},
	  			DEFAULT,
	  			DEFAULT,
	  			'Y',
	  			DEFAULT
 		)
	</insert>
	
	<!-- ist불러오고 전체 보드 수 구해서 페이징처리까지 -->
	<select id="selectBoardList" parameterType="map" resultMap="brResultMap">
		<include refid="brListSql"></include>
		ORDER BY BR.BR_NO DESC
	</select>
	
	<select id="selectCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM BOOK_REVIEW_BOARD BR
		WHERE BR.BR_STATUS='Y'
	</select>
	
	<select id="selectBoardDetail" parameterType="_int" resultMap="brDetailResultMap">
		SELECT BR.BR_NO,
		       M.USER_NO,
		       M.USER_NNAME,
		       BR.BR_ISBN,
		       BR.BR_PRESENT_PIC,
		       BR.BR_TITLE,
		       BR.BR_MODIFY_DATE,
		       BR.BR_BOOKTYPE,
		       BR.BR_CONTENT,
<!-- 	       BR.BR_VIEWCOUNT,
		       BR.BR_LIKE, -->	
		       BR.BR_STATUS,
		       BR.BR_RATING
		FROM BOOK_REVIEW_BOARD BR
		JOIN MEMBER M ON(BR.USER_NO = M.USER_NO)	
	</select>
	
	
</mapper>