<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cereal.books.board.model.dao.ClubDao">
	<!-- 반복되는 쿼리문 -->
	<sql id="clubList">
		SELECT B.BC_NO,
	       M.USER_NO,
	       B.BC_ORIGIN_TITLE,
	       B.BC_SUB_TITLE,
	       B.BC_PRICE,
	       B.BC_WRITER,
	       B.BC_REG_DATE,
	       B.BC_DL_DATE,
	       B.BC_VIEW_COUNT,
	       B.BC_CONTENT,
	       B.BC_COM_COUNT,
	       B.BC_ORIGIN_IMAGE,
	       B.BC_MODIFY_IMAGE,
	       B.BC_STATUS,
	       B.BC_AGREEMENT
		FROM BOOK_CLUB_BOARD B
		JOIN MEMBER M ON (B.BC_WRITER = M.USER_NAME)
		WHERE BC_STATUS='P';
	</sql>
	
	<!-- 
		id (Primary Key) : Any Name To Use
		type : DTO(VO) Name
		column : DB Field Name
		Property : DTO(VO) Property Name 
	-->
	<!-- 1. club board -->
	<resultMap type="ClubBoard" id="clubBoardResultMap">
		<id property="bcNo" column="BC_NO"/>
		<result property="userName" column="USER_NAME"/>
		<result property="bcOriginTitle" column="BC_ORIGIN_TITLE"/>
		<result property="bcSubTitle" column="BC_SUB_TITLE"/>
		<result property="bcPrice" column="BC_PRICE"/>
		<result property="bcWriter" column="BC_WRITER"/>
		<result property="bcRegDate" column="BC_REG_DATE"/>
		<result property="bcDeadLineDate" column="BC_DL_DATE"/>
		<result property="bcViewCount" column="BC_VIEW_COUNT"/>
		<result property="bcContent" column="BC_CONTENT"/>
		<result property="bcCommentCount" column="BC_COMMENT_COUNT"/>
		<result property="bcOriginImage" column="BC_ORIGIN_IMAGE"/>
		<result property="bcModifyImage" column="BC_MODIFY_IMAGE"/>
		<result property="bcStatus" column="BC_STATUS"/>
		<result property="bcAgreement" column="BC_AGREEMENT"/>
	</resultMap>
	
	<!-- 2. club board detail -->
	<resultMap type="ClubBoard" id="clubDetailResultMap">
		<id property="bcNo" column="BC_NO"/>
	</resultMap>
	<!-- 3. club board propose -->
	<!-- 4. club board payment -->
	<!-- 5. comment -->
	
	<!-- select count -->
	
	<!-- insert board -->
	<!-- 
		useGeneratedKeys : 기본값(false), DB에서 처리해준 값(Sequence)을 가져와서 처리하고 싶을때
		keyProperty : bcNo 
		keyColumn : BC_NO
	-->
	<select id="selectClubDetail"></select>
	
	<!-- 일단 PASS 처리해놨다가 나중에 관리자쪽 만들게되면 Q, DQ 해보자 -->
	<!-- 
	<insert id="insertClubBoard" parameterMap="map" useGeneratedKeys="true" keyProperty="bcNo" keyColumn="BC_NO">
		INSERT INTO BOOK_CLUB_BOARD 
		VALUES (
			SEQ_BC_NO.NEXTVAL,
			#{ userNo }, 
			#{ bcOriginTitle }, 
			#{ bcSubTitle }, 
			#{ bcPrice }, 
			#{ bcWriter }, 
			DEFAULT, 
			DEFAULT, 
			DEFAULT, 
			DEFAULT, 
			DEFAULT, 
			DEFAULT, 
			DEFAULT, 
			'P', 
			'Y'
		)
	</insert>	
	 -->
</mapper>