<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 
	에러내역
	 : invalid host/bind variable name -> (,) 안넣어서.. 
-->

<mapper namespace="com.cereal.books.board.model.dao.ExpDao">
	<!-- 반복되는 쿼리문 -->
	
	<!-- 후기 맵 -->
	<resultMap type="Exp" id="expResultMap">
		<id property="expNo" column="EXP_NO" />
		<result property="userNo" column="USER_NO"/>
		<result property="userName" column="USER_NAME"/>
		<result property="expTitle" column="EXP_TITLE"/>
		<result property="expViewCount" column="EXP_VIEWCOUNT"/>
		<result property="expContent" column="EXP_CONTENT"/>
		<result property="expRegDate" column="USEEXP_REG_DATE"/>
		<result property="expStatus" column="EXP_STATUS"/>
		<result property="bcNo" column="BC_NO"/>
		<!--  
		<result property="bfNo" column="BF_NO"/>
		<result property="expOriginImage" column="USER_NO"/>
		<result property="expModifyImage" column="USER_NO"/>
		<result property="expPrice" column="USER_NO"/>
		-->
	</resultMap>
	
	<!-- 북 클럽 상세페이지 / 댓글 수 -->
	<resultMap type="ClubBoard" id="clubDetailResultMap">
		<id property="bcNo" column="BC_NO" />
		<result property="userNo" column="USER_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="bcOriginTitle" column="BC_ORIGIN_TITLE" />
		<result property="bcSubTitle" column="BC_SUB_TITLE" />
		<result property="bcPrice" column="BC_PRICE" />
		<result property="bcRegDate" column="BC_REG_DATE" />
		<result property="bcDetailDate" column="BC_DETAIL_DATE" />
		<result property="bcStartDate" column="BC_START_DATE" />
		<result property="bcDeadLineDate" column="BC_DL_DATE" />
		<result property="bcRemainDate" column="BC_REMAIN_DATE" />
		<result property="bcViewCount" column="BC_VIEW_COUNT" />
		<result property="bcContent" column="BC_CONTENT" />
		<result property="bcCommentCount" column="BC_COM_COUNT"/>
		<result property="bcOriginImage" column="BC_ORIGIN_IMAGE" />
		<result property="bcModifyImage" column="BC_MODIFY_IMAGE" />
		<result property="bcStatus" column="BC_STATUS" />
		<result property="bcAgreement" column="BC_AGREEMENT" />
	</resultMap>

	<!-- 후기 추가 -->
	<insert id="insertExp" parameterType="map" useGeneratedKeys="true" keyProperty="expNo" keyColumn="EXP_NO">
		INSERT INTO 
		EXP 
		VALUES(
		SEQ_EXP_NO.NEXTVAL,
		#{userNo},
		#{userName},
		#{expTitle},
		DEFAULT,
		#{expContent},
		TO_DATE(SYSDATE, 'yy-mm-dd'),
		'Y', 
		#{bcNo}
		)
	</insert>
</mapper>