<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 
	에러내역
	 : invalid host/bind variable name -> (,) 안넣어서.. 
-->

<mapper namespace="com.cereal.books.board.model.dao.ProposeDao">
	<!-- 반복되는 쿼리문 -->
	<sql id="proposeListSql">
		SELECT 
		P.PROPOSE_NO, 
		M.USER_NO, 
		M.USER_NAME, 
		P.PROPOSE_TITLE, 
		P.PROPOSE_PWD, 
		P.PROPOSE_REG_DATE, 
		P.PROPOSE_VIEW_COUNT, 
		P.PROPOSE_CONTENT, 
		P.PROPOSE_STATUS
		FROM PROPOSE P
		JOIN MEMBER M ON(P.USER_NO = M.USER_NO)
		WHERE P.PROPOSE_STATUS = 'Y'
	</sql>
	
	<!-- 제안하기 맵 -->
	<resultMap type="Propose" id="proposeResultMap">
		<id property="proposeNo" column="PROPOSE_NO" />
		<result property="userNo" column="USER_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="userName" column="USER_NAME"/>
		<result property="proposePwd" column="PROPOSE_PWD" />
		<result property="proposeTitle" column="PROPOSE_TITLE" />
		<result property="proposeRegDate" column="PROPOSE_REG_DATE" />
		<result property="proposeViewCount" column="PROPOSE_VIEW_COUNT" />
		<result property="proposeContent" column="PROPOSE_CONTENT" />
		<result property="proposeStatus" column="PROPOSE_STATUS" />
	</resultMap>

	<!-- 제안하기 리스트 -->
	<select id="selectProposeList" parameterType="map" resultMap="proposeResultMap">
		<include refid="proposeListSql"></include>
		ORDER BY P.PROPOSE_NO DESC
	</select>

	<!-- 제안하기 총 개수 -->
	<select id="proposeCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM PROPOSE
		WHERE PROPOSE_STATUS = 'Y'
	</select>

	<!-- 제안하기 게시판 추가 -->
	<insert id="insertPropose" parameterType="map" useGeneratedKeys="true" keyProperty="proposeNo" keyColumn="PROPOSE_NO">
		INSERT INTO 
		PROPOSE 
		VALUES(
		SEQ_PROPOSE_NO.NEXTVAL,
		#{userNo},
		#{userId},
		#{userName},
		#{proposePwd},
		#{proposeTitle},
		TO_DATE(SYSDATE, 'yy-mm-dd'),
		DEFAULT, 
		#{proposeContent},
		'Y'
		)
	</insert>
	
	<!-- 마이페이지 -->
	<!-- 내가 제안한 클럽 조회 -->
	<select id="myAplctClubList" parameterType="map" resultMap="proposeResultMap">
		SELECT 
			PROPOSE_NO, 
			PROPOSE_TITLE, 
			PROPOSE_STATUS
		FROM PROPOSE
		WHERE USER_NO = #{userNo}
  		ORDER BY PROPOSE_NO DESC
  	</select>
  	<select id="selectMyAplcClubCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM PROPOSE
		WHERE USER_NO = #{userNo}
	</select>
</mapper>