<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cereal.books.board.model.dao.QADao">
	<sql id="qaListSql">
		SELECT
		Q.QA_NO,
		M.USER_NO,
		Q.QA_WRITER,
		Q.QA_ITEM,
		Q.QA_TITLE,
		Q.QA_CONTENT,
		Q.QA_VIEWCOUNT,
		Q.QA_ENROLL_DATE,
		Q.QA_MODIFY_DATE,
		Q.QA_STATUS
		FROM QA_BOARD Q
		JOIN MEMBER M ON(Q.USER_NO = M.USER_NO)
		WHERE QA_STATUS = 'Y'
	</sql>

	<resultMap type="QA" id="qaResultMap">
		<id property="qaNo" column="QA_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="qaWriter" column="QA_WRITER" />
		<result property="qaItem" column="QA_ITEM" />
		<result property="qaTitle" column="QA_TITLE" />
		<result property="qaContent" column="QA_CONTENT" />
		<result property="qaViewCount" column="QA_VIEWCOUNT" />
		<result property="qaEnrollDate" column="QA_ENROLL_DATE" />
		<result property="qaModifyDate" column="QA_MODIFY_DATE" />
		<result property="qaStatus" column="QA_STATUS" />
	</resultMap>

	<!-- 댓글 resultmap -->
	<resultMap type="Comment" id="boardCommentResultMap">
		<id property="comNo" column="COM_NO" />
		<result property="comWriter" column="COM_WRITER" />
		<result property="comContent" column="COM_CONTENT" />
		<result property="comCreateDate" column="COM_CREATE_DATE" />
		<result property="comEditDate" column="COM_EDIT_DATE" />
		<result property="comStatus" column="COM_STATUS" />
		<result property="qaNo" column="QA_NO" />
		<result property="proposeNo" column="PROPOSE_NO" />
		<result property="brNo" column="BR_NO" />
		<result property="bfNo" column="BF_NO" />
	</resultMap>

	<select id="selectQAList" parameterType="map"
		resultMap="qaResultMap">
		<include refid="qaListSql"></include>
		ORDER BY Q.QA_NO DESC
	</select>

	<select id="selectQADetail" parameterType="map"
		resultMap="qaResultMap">
		<include refid="qaListSql"></include>
		AND QA_NO=#{qaNo}
	</select>

	<select id="qaCount" parameterType="map" resultType="_int">
		SELECT
		COUNT(*)
		FROM QA_BOARD
		WHERE QA_STATUS = 'Y'
	</select>

	<update id="deleteBoard" parameterType="_int">
		UPDATE QA_BOARD
		SET
		QA_STATUS='N'
		WHERE QA_NO=#{qaNo}
	</update>

	<insert id="insertQA" parameterType="map"
		useGeneratedKeys="true" keyProperty="qaNo" keyColumn="QA_NO">
		INSERT INTO
		QA_BOARD VALUES
		(
		SEQ_QA_NO.NEXTVAL,
		#{userNo},
		#{qaWriter},
		#{qaItem},
		#{qaTitle},
		#{qaContent},
		DEFAULT,
		TO_DATE(SYSDATE, 'yy-mm-dd'),
		DEFAULT,
		DEFAULT
		)
	</insert>

	<!-- 댓글 집어넣기 -->
	<insert id="saveComment" parameterType="map"
		useGeneratedKeys="true" keyProperty="comNo" keyColumn="COM_NO">
		INSERT INTO COMMENT_BOARD
		VALUES(
		SEQ_COM_NO.NEXTVAL,
		#{comWriter},
		#{comContent},
		DEFAULT,
		DEFAULT,
		'Y',
		#{qaNo},
		DEFAULT,
		DEFAULT,
		DEFAULT
		)
	</insert>

	<!-- 댓글 불러오기 -->
	<select id="listComment" parameterType="_int"
		resultMap="boardCommentResultMap">
		SELECT CB.COM_NO,
		CB.COM_WRITER,
		CB.COM_CONTENT,
		CB.COM_CREATE_DATE,
		CB.COM_STATUS,
		CB.QA_NO
		FROM COMMENT_BOARD CB
		WHERE CB.QA_NO = #{qaNo} AND CB.COM_STATUS='Y'
	</select>

</mapper>