
#footer_div {
    width: 90%;
    font-family: 'Source Sans Pro';
    margin: auto;
    margin-top: 50px
}


.f_body{
    display: flex;
    background: #f3f1f1;
    justify-content: space-between;
    align-items: baseline;
    padding: 8px 12px;
}

.inner_f_company{
    padding: 0px 50px;
    width: 40%;
}

.inner_f_company ul{
    padding: 0;
    
}

.inner_f_company li{
    list-style: none;
    
}

.inner_f_help{
    width: 30%;
    padding: 0px 50px;
}

.inner_f_bank{
   
    width: 30%;
    padding: 0px 50px;
}

.f_footer_menu ul{
display: flex;
list-style: none;
padding-left: 0;

}

.f_footer_menu li{
 margin: auto 2px;
}

.f_a {
 text-decoration: none;
 color: black;

}

#kakao{
    color: #ffba00;
}

@media screen and (max-width: 768px){
    #footer_div div {
        flex-direction: column;
        margin: auto;
        padding: 10px 0px;
        width: 100%;
        text-align: center;
    }

    .f_body h3{
        margin: auto 10px;
    }
    .f_body h4{
        margin: auto 10px;
        
    }

    .inner_f_company span{
        margin: auto 10px;
        
    }
    .inner_f_help span{
        margin: auto 10px;
        
    }
    .inner_f_bank span{
        margin: auto 10px;
        
    }


    
}