
#main_container{
   display: block;
   width: 80%;
   margin: auto;  
   font-family: 'Source Sans Pro';
}
a {
    text-decoration: none;
}


#high_div{
    border: 1px solid #f1f1f1;
    display: flex;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

#inner_img_div{
    background-color: white;
    width:50%;
    margin: 0px;
  
}


.bf_div{
	width: 100%;
	margin-top: 80px;
	margin-bottom: 20px;
	display: flex;
}	

.bf_img{
	width: 50%;
	margin-right: 10px
	}
	
#bf_image{
	width: 100%;
	height: 460px;
	
}

.bf_info{
   	width: 50%;
}

.bf_title{
	text-align: center;
	width: 100%;	
	border-bottom: 4px solid #f1f1f1;
	margin: 5px 0px;
}


.bookh2{
	color: #f26722;
	text-align: center;
}

.bf_title h3{
	margin: 5px 0px;
	color: #f26722;
}
.bf_date{
	text-align: center;
	width: 100%;
}
#_deadline{
	margin: 5px 0px;
}


.bf_text{
	margin: 20px 2px;
    font-size:1em;
    width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    /* 여러 줄 자르기 추가 스타일 */
     white-space: normal; 
     line-height: 1.3; height: 55%; 
     word-wrap: break-word;
    display: -webkit-box; 
    -webkit-line-clamp: 12; 
    -webkit-box-orient: vertical;
    color: #999999;
    word-break: break-all;
    text-indent: 5px;
}
.box{
	display: flex;
	width: 100%;
	justify-content: space-between;
}


.bf_th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #f26722; 
}

.bf_td {
    width: 150px;
    padding: 10px;
    vertical-align: top;
    color: #999999;
}

.bf_bt{
    display: flex;
    justify-content: center;
}


.bf_btn{
    background-color: #f26722;
    color: white;
    display: inline-block;
    width: 25%;
    height: 35px;
    border-radius: 10px;
    border: 2px solid transparent;
    text-align: center;
    line-height: 18px;
}

.bf_btn:hover{
    background-color: white;
    border: 1px solid #f26722;
    color: #f26722;
}


.pageBar { 
	font-size: 25px; text-align: center; margin-top: 30px;
	margin: auto;

 }

.pagespan{
	cursor: pointer;
}


#inner_reco_div{
    background-color: white;
    width: 50%;
    margin: auto 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    float: right;
}
.reco_div{
   
    width: 95%;
    margin: auto 15px;
    margin-top: 10px;
    margin-bottom: 13px;
    display: flex;
}


.reco_img_div{
    width: 30%;
    margin: 10px auto 10px;
}



.img_size{
    width: 68%;  
}

.reco_content{
    text-align: left;
    width: 50%;
    margin: 5px auto 5px;
    
}

.reco_content_title{
 border-bottom : 1px solid #f1f1f1; 
 margin: auto 10px;
 color: #f26722;
 text-align: center;
}


.reco_content_ctt{
    margin: 2px auto 2px;
    font-size: 0.8em;
    width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    /* 여러 줄 자르기 추가 스타일 */
     white-space: normal; 
     line-height: 1.3; height: 27%; 
     word-wrap: break-word;
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    color: #999999;
    word-break: break-all;
    text-indent: 5px;
}

.reco_content_t{
	margin: 5px auto 5px;
    font-size: 0.8em;
    width: 100%; 
    
}

.reco_content_p{
	margin: 5px auto 5px;
	
	
}

#month_span{
	font-size: 1.2em;
}

.reco_content_ctt span{ 
    overflow: hidden;
    white-space:pre-line;
    text-overflow: ellipsis;
}

.reco_content strong{ 
font-size: 13px;
margin: auto 5px;
}



#inner_reco_div_span{
    font-size: 20px;
}


#inner_reco_div a{
    text-decoration: none;
    color: #555555;
}

/* 달의 베스트 추천 도서 css  left  */
#middle_div{
    border: 1px solid #f1f1f1;
    background: #fff;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;

}

#middle_div_text{
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 10px;
}

#innner_container{
    display: flex;
}

#l_inner_cont{
    width: 35%;
    margin: 2px auto 2px;  
   
}

.best_p{
 color: #f26722;
 font-size: 1.5em;
 font-weight: bold;
}   

#l_inner_cont_div{
    text-align:center;
    width: 65%;
    position: relative;
    margin:auto ;
    
}



.l_text_con{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 11pt;
    width: 95%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    /* 여러 줄 자르기 추가 스타일 */
    white-space: normal; 
    line-height: 1.3; height: 55%; 
    word-wrap: break-word;
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    color: #555555;
    text-indent: 5px;
    word-break: break-all;
}


.l_text_tw{
    text-align: center;
    color: #f26722;
}

.l_text_title{
    font-size: 18px;
    font-weight: 900;
}

.l_text_writer{
    font-size: 16PX;
}

#l_text_con{
    text-indent: 10px;
    font-size: 15px;
    color: #555555;
    text-overflow: ellipsis;
}


/* 장르별 추천 css  */

.mnav{
    width: 100%;
}

.nav_menu{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 8px auto 12px;
    list-style: none;
}


.nav_menu span{
    font-size: 1em;
    color: #f26722;
    cursor: pointer;
}

.nav_menu li:hover{
    font-weight: 900;
    font-size: 1.3em;
    cursor: pointer;
}

#row_div{
    background: #fff;
    width: 100%;
    margin-top: 50px;
}

#row_genre{
	  display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

#row_div_text{
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 30px;
}
#me_genre_div{
 display: flex;
    margin: auto;
    width: 100%;
}


.genre{
    width: 20%;
    margin: auto;
    text-align: center;
    height: 350px;
}



.genre_title{
    text-align: center;
    color: #f26722;
    border-bottom: 1px solid #f1f1f1;
}


.genre_content{
    font-size: 12px;
    margin: 8px 8px;
    text-indent: 4px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    /* 여러 줄 자르기 추가 스타일 */
    white-space: normal; 
    line-height: 1.3; height: 12.5%; 
    word-wrap: break-word;
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    color: #555555;
    word-break: break-all;
}

#genre_btn{
    margin: 30px auto;
    width: 200px;
    border: 1px solid #f26722;
    text-align: center;
    border-radius: 10px;
}

#genre_btn span{
    font-size: 0.9em;
    color: #f26722;
    
}

#genre_btn:hover{
    background-color: #f26722;
}
#genre_btn span:hover{
    color: white;
}


@media screen  and (max-width: 768px){
		#inner_img_div{
    background-color: white;
    width:100%;
    margin: 0px;
  
	}
	
	.box{
	flex-direction: column;
	margin: auto;
	text-align: center;
	}
	
	
	.bf_div{
	flex-direction: column;
	width: 100%;
	margin: auto;
	}
	.bf_img{
	width: 100%;
	}
	
	.bf_info{
	width: 100%;
	}
	
	.bf_title{
	width: 100%;
	}
	
    
    #high_div {
        flex-direction: column;
    }

    .reco_div{
        flex-direction: column;

        margin: 5px auto;
    }
    
    #inner_reco_div{
        width: 100%;
        margin: auto;
        
    }


    #innner_container{
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

   #l_inner_cont{
       width: 100%;
   }

   #r_inner_cont_se{
        width: 100%;
   }


    #row_genre {
  
        width: 100%
    }
    #me_genre_div{
    display: inline-block;
    }
    
    

    .genre{
        float:left;
        width: 50%;
        margin: 20px auto;
    }
    .nav_menu a{
        font-size: 0.8em;
        color: #f26722;
    }
    

    #genre_btn{
        width: 200px;
        margin: 20px auto;
        height: 10%;
    }
    .genre_content{
        font-size: 12px;
        margin: 8px 8px;
        text-indent: 4px;
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        /* 여러 줄 자르기 추가 스타일 */
        white-space: normal; 
        line-height: 1.3; height: 12.5%; 
        word-wrap: break-word;
        display: -webkit-box; 
        -webkit-line-clamp: 3; 
        -webkit-box-orient: vertical;
        color: #555555;
    }
    
}





@media screen  and (max-width: 1200px){
	#inner_img_div{
    background-color: white;
    width:100%;
    margin: 20px;
	}
	
	 #inner_reco_div{
        width: 100%;
    }
	
	.bf_div{
	flex-direction: column;
	width: 100%;
	margin: auto;
	}
	.bf_img{
	width: 100%;
	}
	
	.bf_info{
	width: 100%;
	}
	
	

	
}