<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cereal.books.member.model.dao.MemberDao">

	<sql id="selectMemberSql">
	  	SELECT 
  			USER_NO,
			USER_ID,
			USER_PWD,
			USER_NAME,
			USER_NNAME,
			USER_ROLE,
			USER_PHONE,
			USER_EMAIL,
			USER_ADDRESS,
			USER_GENRE,
			USER_AGREEMENT,
			USER_ENROLL_DATE,
			USER_MODIFY_DATE,		
			STATUS  		 
  		FROM MEMBER 
	</sql>


  <resultMap type="Member" id="memberResultSet">
  	<id property="userNo" column="USER_NO"/>
  	<result property="userId" column="USER_ID"/>
  	<result property="userPwd" column="USER_PWD"/>
  	<result property="name" column="USER_NAME"/>
  	<result property="userNname" column="USER_NNAME"/>
  	<result property="userRole" column="USER_ROLE"/>
  	<result property="userPhone" column="USER_PHONE"/>
  	<result property="userEmail" column="EMAIL"/>
  	<result property="userAddress" column="ADDRESS"/>
  	<result property="userGenre" column="USER_GENRE"/>
  	<result property="userAgreement" column="USER_AGREEMENT"/>
  	<result property="userEnrollDate" column="USER_ENROLL_DATE"/>
  	<result property="userModifyDate" column="USER_MODIFY_DATE"/>
  	<result property="status" column="STATUS"/>
  </resultMap>
	
	

	
	
	
	
	<select id="selectUserInfoOne" parameterType="string" resultMap="memberResultSet"> 
		<include refid="selectMemberSql"></include>
  		WHERE 
  			USER_ID = #{userId}
  	</select>
  	
  
  	
  	<select id="selectUserNname" parameterType="string" resultMap="memberResultSet"> 
		<include refid="selectMemberSql"></include>
  		WHERE 
  			USER_NNAME = #{userNname}
  	</select>
  	
  	
  	
  		
	<insert id="insertMember" parameterType="Member"
	useGeneratedKeys="true" keyProperty="userNo" keyColumn="USER_NO">
	INSERT INTO MEMBER (
			USER_NO,
			USER_ID,
			USER_PWD,
			USER_NAME,
			USER_NNAME,
			USER_ROLE,
			USER_PHONE,
			USER_EMAIL,
			USER_ADDRESS,
			USER_GENRE,
			USER_AGREEMENT,
			USER_ENROLL_DATE,
			USER_MODIFY_DATE,		
			STATUS
		)
		VALUES(
			SEQ_UNO.NEXTVAL, 
			#{userId}, 
			#{userPwd}, 
			#{name}, 
			#{userNname}, 
			DEFAULT, 
			#{userPhone}, 
			#{userEmail}, 
			#{userAddress}, 
			#{userGenre}, 
			#{userAgreement}, 
			SYSDATE, 
			SYSDATE,
			DEFAULT
		)
	</insert>
	
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER 
		SET
		    USER_NNAME,
			USER_PHONE,
			USER_EMAIL,
			USER_ADDRESS,
			USER_GENRE,
			USER_MODIFY_DATE
		WHERE 
		    USER_NO=#{userNo}	
	</update>
	
	<delete id="deleteMember" parameterType="string">
		UPDATE MEMBER 
		SET
		    STATUS='N'
		WHERE
		    USER_ID=#{userId}	
	</delete>
</mapper>
